<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace存放映射文件的路径，指动态代理方式的接口全类名-->
<mapper namespace="cn.edu.buaa.onlinejudge.mapper.ContestMapper">

    <resultMap id="ContestResultMap" type="Contest">
        <id property="contestId" column="contest_id"></id>
        <result property="contestName" column="contest_name"></result>
        <result property="courseId" column="course_id"></result>
        <result property="startTime" column="start_time"></result>
        <result property="finishTime" column="finish_time"></result>
        <result property="isVisible" column="visibility" javaType="boolean" jdbcType="TINYINT"></result>
        <result property="isAnswerable" column="status" javaType="boolean" jdbcType="TINYINT"></result>
        <result property="introduction" column="introduction"></result>
    </resultMap>

    <select id="getContestById" parameterType="int" resultMap="ContestResultMap" useCache="true">
        SELECT * FROM contests WHERE contest_id = #{contestId};
    </select>

    <select id="getVisibleContestsOfCourse" parameterType="int" resultMap="ContestResultMap" useCache="true">
        SELECT * FROM contests WHERE course_id = #{courseId} AND visibility = 1 ORDER BY contest_id ASC;
    </select>

    <select id="getAllContestsOfCourse" parameterType="int" resultMap="ContestResultMap" useCache="true">
        SELECT * FROM contests WHERE course_id = #{courseId} ORDER BY contest_id ASC;
    </select>

    <select id="getAllContestIdOfCourse" parameterType="int" resultType="int" useCache="true">
        SELECT contest_id FROM contests WHERE course_id = #{courseId};
    </select>
    
    <select id="getTotalContestsNum" resultType="int" useCache="true">
        SELECT COUNT(*) FROM contests;
    </select>

    <!--注意：在MyBatis中使用乘法运算需要将表达式置于${}之中，否则会报错-->
    <select id="getPageVisibleContests" parameterType="Map" resultMap="ContestResultMap" useCache="true">
        SELECT * FROM contests WHERE visibility = 1 LIMIT #{pageSize} OFFSET ${pageIndex * pageSize};
    </select>

    <select id="fuzzyQueryVisibleContestsByName" parameterType="String" resultMap="ContestResultMap" useCache="true">
        SELECT * FROM contests WHERE visibility = 1 AND contest_name LIKE CONCAT(#{contestName}, '%');
    </select>

    <select id="getVisibleContestIdListByCourseIdList" parameterType="List" resultType="int" useCache="true">
        SELECT contest_id FROM contests WHERE visibility = 1 AND course_id IN
        <choose>
            <when test="list != null and list.size() > 0">
                <foreach collection="list" item="courseId" separator="," open="(" close=")">
                    #{courseId}
                </foreach>
            </when>
            <otherwise>
                (NULL)
            </otherwise>
        </choose>
    </select>

    <insert id="insertContest" parameterType="Contest" flushCache="true"
            useGeneratedKeys="true" keyProperty="contestId" keyColumn="contest_id">
        INSERT INTO contests (contest_name, course_id, start_time, finish_time, introduction)
        VALUES (#{contestName}, #{courseId}, #{startTime}, #{finishTime}, #{introduction});
    </insert>

    <update id="setContestVisibility" parameterType="Map" flushCache="true">
        UPDATE contests SET visibility = #{visibility} WHERE contest_id = #{contestId};
    </update>

    <update id="setContestStatus" parameterType="Map" flushCache="true">
        UPDATE contests SET status = #{status} WHERE contest_id = #{contestId};
    </update>

    <update id="updateContest" parameterType="Contest" flushCache="true">
        UPDATE contests
        <set>
            <if test="contestName != null and contestName.length() > 0">contest_name = #{contestName},</if>
            <if test="introduction != null">introduction = #{introduction},</if>
            start_time = #{startTime},
            finish_time = #{finishTime}
        </set>
        WHERE contest_id = #{contestId};
    </update>

    <delete id="deleteContest" parameterType="int" flushCache="true">
        DELETE FROM contests WHERE contest_id = #{contestId};
    </delete>
</mapper>