<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace存放映射文件的路径，指动态代理方式的接口全类名-->
<mapper namespace="cn.edu.buaa.onlinejudge.mapper.CourseMapper">
    
    <resultMap id="CourseResultMap" type="Course">
        <id property="courseId" column="course_id"></id>
        <result property="courseName" column="course_name"></result>
        <result property="introduction" column="introduction"></result>
        <result property="teacherId" column="teacher_id"></result>
    </resultMap>

    <select id="getAllCourses" resultMap="CourseResultMap" useCache="true">
        SELECT * FROM courses ORDER BY course_id ASC;
    </select>

    <select id="getCoursesByCourseName" parameterType="String"
            resultMap="CourseResultMap" useCache="true">
        SELECT * FROM courses WHERE course_name LIKE CONCAT(#{courseName}, '%');
    </select>

    <select id="getCoursesOfTeacherByCourseName" parameterType="Map"
            resultMap="CourseResultMap" useCache="true">
        SELECT * FROM courses WHERE teacher_id = #{teacherId} AND
        course_name LIKE CONCAT(#{courseName}, '%');
    </select>

    <select id="getAllCoursesByTeacherId" parameterType="long" resultMap="CourseResultMap" useCache="true">
        SELECT * FROM courses WHERE teacher_id = #{teacherId}
        ORDER BY course_id ASC;
    </select>

    <select id="getCourseById" parameterType="int" resultMap="CourseResultMap" useCache="true">
        SELECT * FROM courses WHERE course_id = #{courseId};
    </select>

    <insert id="insertCourse" parameterType="Course" useGeneratedKeys="true"
            keyProperty="courseId" keyColumn="course_id" flushCache="true">
        INSERT INTO courses (course_name, introduction, teacher_id)
        VALUES (#{courseName}, #{introduction}, #{teacherId});
    </insert>
    
    <update id="updateCourse" parameterType="Course" flushCache="true">
        update courses
        <set>
            <if test="courseName != null and courseName.length() > 0">course_name = #{courseName},</if>
            <if test="introduction != null">introduction = #{introduction},</if>
        </set>
        WHERE course_id = #{courseId};
    </update>

    <delete id="deleteCourse" parameterType="int" flushCache="true">
        DELETE FROM courses WHERE course_id = #{courseId};
    </delete>
</mapper>