<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace存放映射文件的路径，指动态代理方式的接口全类名-->
<mapper namespace="cn.edu.buaa.onlinejudge.mapper.ProblemMapper">

    <resultMap id="ProblemResultMap" type="Problem">
        <id property="problemId" column="problem_id"></id>
        <result property="contestId" column="contest_id"></result>
        <result property="problemNumber" column="problem_number"></result>
        <result property="judgeMechanism" column="judge_mechanism"></result>
        <result property="author" column="author"></result>
        <result property="problemName" column="problem_name"></result>
        <result property="timeLimit" column="time_limit"></result>
        <result property="memoryLimit" column="memory_limit"></result>
        <result property="description" column="description"></result>
        <result property="inputFormat" column="input_format"></result>
        <result property="outputFormat" column="output_format"></result>
        <result property="inputSample" column="input_sample"></result>
        <result property="outputSample" column="output_sample"></result>
        <result property="sampleExplanation" column="sample_explanation"></result>
        <result property="hint" column="hint"></result>
        <result property="code" column="code"></result>
    </resultMap>

    <select id="getProblemById" parameterType="long" resultMap="ProblemResultMap" useCache="true">
        SELECT * FROM problems WHERE problem_id = #{problemId};
    </select>

    <select id="getProblemsByContestIdList" parameterType="List"
            resultMap="ProblemResultMap" useCache="true">
        SELECT * FROM problems WHERE contest_id IN
        <choose>
            <when test="list != null and list.size() > 0">
                <foreach collection="list" item="contestId" separator="," open="(" close=")">
                    #{contestId}
                </foreach>
            </when>
            <otherwise>
                (NULL)
            </otherwise>
        </choose>
        ORDER BY problem_id ASC;
    </select>
    
    <select id="getProblemsOfContest" parameterType="int" resultMap="ProblemResultMap" useCache="true">
        SELECT * FROM problems WHERE contest_id = #{contestId} ORDER BY problem_number ASC;
    </select>

    <select id="getProblemIdListOfContest" parameterType="int" resultType="long" useCache="true">
        SELECT problem_id FROM problems WHERE contest_id = #{contestId} ORDER BY problem_number ASC;
    </select>

    <insert id="insertProblem" parameterType="Problem" flushCache="true"
            useGeneratedKeys="true" keyColumn="problem_id" keyProperty="problemId">
        INSERT INTO problems (contest_id, problem_number, judge_mechanism, author, problem_name, time_limit, memory_limit, description, input_format, output_format, input_sample, output_sample, sample_explanation, hint, code)
        VALUES (#{contestId}, #{problemNumber}, #{judgeMechanism}, #{author}, #{problemName}, #{timeLimit}, #{memoryLimit}, #{description}, #{inputFormat}, #{outputFormat}, #{inputSample}, #{outputSample}, #{sampleExplanation}, #{hint}, #{code});
    </insert>

    <delete id="deleteProblem" parameterType="long" flushCache="true">
        DELETE FROM problems WHERE problem_id = #{problemId};
    </delete>
</mapper>