<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace存放映射文件的路径，指动态代理方式的接口全类名-->
<mapper namespace="cn.edu.buaa.onlinejudge.mapper.StudentMapper">

    <resultMap id="StudentResultMap" type="Student">
        <!--分为主键（id）和非主键（result）-->
        <id property="userId" column="student_id"></id>
        <result property="email" column="email"></result>
        <result property="userName" column="student_name"></result>
        <result property="userNumber" column="student_number"></result>
        <result property="password" column="password"></result>
        <result property="departmentId" column="department_id"></result>
        <result property="preferLanguageId" column="prefer_language_id"></result>
        <result property="introduction" column="introduction"></result>
    </resultMap>

    <select id="getStudentById" parameterType="long"
            resultMap="StudentResultMap" useCache="true">
        SELECT * FROM students WHERE student_id = #{studentId};
    </select>

    <select id="getStudentByEmail" parameterType="String"
            resultMap="StudentResultMap" useCache="true">
        SELECT * FROM students WHERE email = #{email};
    </select>

    <insert id="insertStudent" parameterType="Student" flushCache="true"
            keyProperty="userId" keyColumn="student_id" useGeneratedKeys="true">
        INSERT INTO students (email, student_name, student_number, password, department_id, prefer_language_id, introduction)
        VALUES (#{email}, #{userName}, #{userNumber}, #{password}, #{departmentId}, #{preferLanguageId}, #{introduction});
    </insert>

    <update id="updateStudent" parameterType="Student" flushCache="true">
        UPDATE students
        <set>
            <if test="userName != null and userName.length() > 0">student_name = #{userName},</if>
            <if test="userNumber != null and userNumber.length() > 0">student_number = #{userNumber},</if>
            <if test="departmentId > 0">department_id = #{departmentId},</if>
            <if test="preferLanguageId > 0">prefer_language_id = #{preferLanguageId},</if>
            <if test="introduction != null">introduction = #{introduction},</if>
        </set>
        WHERE student_id = #{userId};
    </update>

    <update id="resetPassword" parameterType="Student" flushCache="true">
        UPDATE students SET password = #{password} WHERE student_id = #{userId};
    </update>

</mapper>