<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace存放映射文件的路径，指动态代理方式的接口全类名-->
<mapper namespace="cn.edu.buaa.onlinejudge.mapper.SubmissionMapper">

    <resultMap id="SubmissionResultMap" type="Submission">
        <id property="submissionId" column="submission_id"></id>
        <result property="studentId" column="student_id"></result>
        <result property="problemId" column="problem_id"></result>
        <result property="contestId" column="contest_id"></result>
        <result property="languageId" column="language_id"></result>
        <result property="submitTime" column="submit_time"></result>
        <result property="executeTime" column="execute_time"></result>
        <result property="usedTime" column="used_time"></result>
        <result property="usedMemory" column="used_memory"></result>
        <result property="judgeScore" column="judge_score"></result>
        <result property="judgeResult" column="judge_result"></result>
        <result property="submitCode" column="submit_code"></result>
        <result property="compileOutput" column="compile_output"></result>
    </resultMap>

    <select id="getProblemSubmitTimes" parameterType="long" resultType="long" useCache="true">
        SELECT COUNT(*) FROM submissions AS s LEFT JOIN contests AS c ON s.contest_id = c.contest_id
        WHERE problem_id = #{problemId} AND s.submit_time BETWEEN c.start_time AND c.finish_time;
    </select>
    
<!--    <select id="getProblemAcceptStudents" parameterType="long" resultType="long" useCache="true">-->
<!--        SELECT COUNT(*) FROM-->
<!--            (SELECT judge_result FROM submissions WHERE submission_id IN-->
<!--                (SELECT MAX(submission_id) FROM submissions-->
<!--                    WHERE problem_id = #{problemId} GROUP BY student_id)) a-->
<!--            WHERE a.judge_result = 'AC';-->
<!--    </select>-->

    <select id="getStudentLatestSubmissionOfProblem" parameterType="Map"
            resultMap="SubmissionResultMap" useCache="true">
        SELECT * FROM submissions WHERE
            submission_id = (SELECT MAX(submission_id)
                FROM submissions WHERE student_id = #{studentId} AND problem_id = #{problemId});
    </select>

    <select id="getSubmissionById" parameterType="long"
            resultMap="SubmissionResultMap" useCache="true">
        SELECT * FROM submissions WHERE submission_id = #{submissionId};
    </select>

    <select id="getSubmissionsByStudentIdAndProblemId" parameterType="Map"
            resultMap="SubmissionResultMap" useCache="true">
        SELECT * FROM submissions WHERE student_id = #{studentId} AND problem_id = #{problemId}
        ORDER BY submission_id ASC;
    </select>

    <select id="getSubmissionsByStudentIdAndContestId" parameterType="Map"
            resultMap="SubmissionResultMap" useCache="true">
        SELECT * FROM submissions WHERE student_id = #{studentId} AND contest_id = #{contestId}
        ORDER BY submission_id ASC;
    </select>

    <insert id="insertSubmission" parameterType="Submission" flushCache="true"
            useGeneratedKeys="true" keyProperty="submissionId" keyColumn="submission_id">
        INSERT INTO submissions (student_id, problem_id, contest_id, language_id, submit_time, execute_time, used_time, used_memory, judge_score, judge_result, submit_code, compile_output)
        VALUES (#{studentId}, #{problemId}, #{contestId}, #{languageId}, #{submitTime}, #{executeTime}, #{usedTime}, #{usedMemory}, #{judgeScore}, #{judgeResult}, #{submitCode}, #{compileOutput});
    </insert>

    <update id="updateSubmission" parameterType="Submission" flushCache="true">
        UPDATE submissions
        <set>
            execute_time = #{executeTime},
            used_time = #{usedTime},
            used_memory = #{usedMemory},
            judge_score = #{judgeScore},
            judge_result = #{judgeResult},
            compile_output = #{compileOutput},
        </set>
        WHERE submission_id = #{submissionId};
    </update>
</mapper>